# Copia este archivo como .env y rellena tus valores reales.
# Este archivo SÍ se sube a GitHub; .env NO se sube.

VITE_SUPABASE_URL=https://cevaemugnldwikwbxecg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNldmFlbXVnbmxkd2lrd2J4ZWNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2Mjk0NTAsImV4cCI6MjEwMjIwNTQ1MH0.mm8P0P5RsNmLj3tR0mERIbuxJBN_VTYLeF0P_LdNGWs