# Dependencias
node_modules/

# Builds
dist/

# Variables de entorno locales (NUNCA subir a GitHub)
.env
.env.local
.env.production

# Tauri (por si algún día se vuelve a añadir)
src-tauri/target/
src-tauri/gen/

# Varios
*.log
.DS_Store